.container {
    width: 100%;
    display: flex;
    margin-top: calc(15.72vw + 0.12rem);
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fb5706;
    padding: calc(2.86vw + 0.12rem);
    margin: calc(2.86vw + 0.12rem) 0;
    border-radius: 20px;
}

.error-design-div {
    width: 100%;
}

.error-design {
    width: 100%;
}

.error-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    font-family: 'Press Start 2P', cursive;
}

.error-title {
    text-align: center;
    font-size: calc(8.22vw + 0.12rem);
    border-top: 3px solid white;
    padding-top: calc(2.86vw + 0.12rem);
}

.error-subtitle {
    text-align: center;
    font-size: calc(4.65vw + 0.12rem);

}

@media (min-width:768px) {

    .container {
        margin-top: calc(4.95vw + 0.12rem);
    }

    .card {
        flex-direction: row;
        position: relative;
        width: 60%;
        margin: calc(1.05vw + 0.12rem) 0;
    }

    .error-design-div {
        width: 50%;
        position: relative;
    }



    .error-text-block {
        justify-content: center;

        width: 50%;

    }

    .error-title {
        font-size: calc(4.3vw + 0.12rem);
        line-height: calc(4.5vw + 0.12rem);
        padding: 0;
        border: none;
    }

    .error-subtitle {
        font-size: calc(1.05vw + 0.12rem);
    }

}