* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

li {
    list-style: none;
}

.new-tattoo-section {
    margin-top: calc(15.72vw + 0.12rem);
    margin-bottom: calc(6.45vw + 0.12rem);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-tattoo-form {
    margin-top: calc(6.45vw + 0.12rem);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: calc(4.65vw + 0.12rem)
}






@media (min-width:768px) {
    .new-tattoo-section {
        margin-top: calc(4.95vw + 0.12rem);
    }

    .new-tattoo-form {
        margin-top: calc(1.05vw + 0.12rem);
    }
}