* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

li {
    list-style: none;
}




/* ----------------- LOGIN PART --------------- */


.login-section {
    margin-top: calc(15.72vw + 0.12rem);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.ninety-div {
    width: 90%;
    border: 3px solid black;
    padding: calc(1vw + 0.75rem) 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: calc(6.45vw + 0.12rem) 0;
    background-color: white;
}

.login-xl-img {
    display: none;
}

.fifty-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.xs-img {
    width: 100%;
}

.login-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: calc(1vw + 0.25rem);
    gap: calc(2.86vw + 0.12rem);
}

.login-h2 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    text-align: center;
    /* font-size: calc(1vw + 0.65rem); */
    font-size: calc(4.65vw + 0.12rem);
    /* line-height: calc(1vw + em); */
    line-height: calc(6.45vw + 0.12rem);
}

.grey-parag {
    color: grey;
    /*  font-size: calc(1vw + 0.75rem); */
    font-size: calc(4.65vw + 0.12rem);
    border-bottom: 2px solid grey;
    padding-bottom: calc(1vw + 0.25rem) 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1vw + 1rem);
    margin: calc(1vw + 1rem) 0;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1vw + 1rem);
    margin: calc(1vw + 1rem) 0;
}

.text-inputs {
    /*   height: calc(1vw + 1.5rem); */
    height: calc(10vw + 0.12rem);
    border-radius: 5px;
    outline: none;
    border: 1px solid #191919;
    padding: calc(1vw + 0.25rem);
    font-size: calc(4.65vw + 0.12rem);
}

.xs-input-div {
    display: flex;
    flex-direction: column;
    gap: calc(1vw + 0.25rem);
    /* font-size: calc(1vw + 0.85rem); */
    font-size: calc(4.65vw + 0.12rem);
}

.xs-input-div {
    display: flex;
    flex-direction: column;
    /*  gap: calc(1vw + 0.5rem); */
    gap: calc(2.86vw + 0.12rem);
}

label {
    font-weight: bold;
}


.register-signup-btn {
    background-color: #fb5607;
    color: white;
    border-radius: 5px;
    border: #fb5607;
    padding: calc(1vw + 0.5rem) calc(1vw + 1.5rem);
    font-weight: bold;
    font-size: calc(2.86vw + 0.12rem);
    font-family: 'Press Start 2P', cursive;
    align-self: center;
    width: 60%;
    margin: calc(1vw + 0.5rem) 0;
}







/* --------- MEDIA QUERIES ---------- */



@media (min-width:768px) {

    .login-section {
        margin-top: calc(4.95vw + 0.12rem);

    }

    .ninety-div {
        margin: calc(1.05vw + 0.12rem) 0;
        flex-direction: row;
        padding: 0;
        width: 90%;
        box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5);
    }


    .login-xl-img {
        display: block;
        height: calc(70vw + 1rem);
        width: 50%;
        border-radius: 10px 0 0 10px;
    }

    .fifty-card {
        width: 50%;
        padding: 0px calc(0.5vw + 0.5rem);

        height: calc(70vw + 1rem);
    }

    .xs-img {
        display: none;
    }

    .login-div {
        gap: calc(1.05vw + 0.12rem);
        padding-top: calc(1vw + 0.25rem);
    }

    .login-h2 {
        /* font-size: calc(0.5vw + 1rem); */
        margin-bottom: 0px;
        color: #fb5607;
        font-size: calc(2.35vw + 0.12rem);
        line-height: calc(3vw + 0.12rem);
    }

    .grey-parag {
        font-size: calc(1.7vw + 0.12rem);
    }

    form {
        gap: calc(0.5vw + 0.5rem);
    }

    .input-div {
        margin-top: calc(0.5vw + 1rem);

        gap: calc(3vw + 0.12rem);


    }

    .xs-input-div {
        flex-direction: row;
        font-size: calc(0.5vw + 0.75rem);
        align-items: center;
    }

    .xs-input-div label {
        flex-basis: 30%;
    }

    .xs-input-div input {
        flex-basis: 70%;
        border: 2px solid #fb5607;
        height: calc(3.65vw + 0.12rem);
        font-size: calc(1.7vw + 0.12rem);
    }




    .register-signup-btn {
        margin-bottom: calc(0.5vw + 0.5rem);
        font-size: calc(1.05vw + 0.12rem);
        width: 50%;
    }
}

@media (min-width:820px) {
    .ninety-div {
        width: 85%;
    }

    .login-xl-img {
        height: calc(65vw + 1rem);
    }

    .fifty-card {
        height: calc(65vw + 1rem);
    }

    .login-h2 {
        font-size: calc(2.15vw + 0.12rem);
    }

    form {
        gap: calc(0.5vw + 0.25rem);
    }

    .register-signup-btn {
        margin-bottom: calc(0.5vw + 0.5rem);
        font-size: calc(1.05vw + 0.12rem);
        width: 50%;
    }

}

@media (min-width:1024px) {
    .ninety-div {
        width: 70%;
    }

    .login-xl-img {
        height: calc(55vw + 1rem);
    }

    .fifty-card {
        height: calc(55vw + 1rem);
    }

    .login-div {
        gap: calc(0.9vw + 0.05rem);
    }

    .login-h2 {
        font-size: calc(1.7vw + 0.12rem);
        line-height: calc(2.35vw + 0.12rem);
    }

    .grey-parag {
        font-size: calc(1.4vw + 0.12rem);
    }

    .xs-input-div input {

        font-size: calc(1.05vw + 0.12rem);
    }

    .register-signup-btn {
        padding: calc(0.5vw + 0.5rem) calc(1vw + 1.5rem);
        font-size: calc(0.5vw + 0.30rem);
        margin: calc(0.5vw + 0.5rem) 0;
    }

    form {
        gap: calc(0.25vw + 0.12rem);
    }


}

@media (min-width:1280px) {
    .ninety-div {
        width: 60%;
    }

    .login-xl-img {
        height: calc(45vw + 1rem);
    }

    .fifty-card {
        height: calc(45vw + 1rem);

    }

    .login-h2 {
        font-size: calc(1.05vw + 0.12rem);
        line-height: calc(1.7vw + 0.12rem);
    }

    .grey-parag {
        font-size: calc(1vw + 0.12rem);
    }

    .xs-input-div label {
        font-size: calc(1vw + 0.12rem);
    }

    .xs-input-div input {

        height: calc(1.7vw + 0.12rem);
        font-size: calc(1.05vw + 0.12rem);
    }

    .register-signup-btn {
        padding: calc(0.5vw + 0.25rem) calc(1vw + 0.75rem);
        font-size: calc(0.5vw + 0.30rem);
        margin: calc(0.5vw + 0.5rem) 0;
    }

}

@media (min-width:1366px) {
    .ninety-div {
        width: 55%;
    }


}