* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

li {
    list-style: none;
}

.user-div {
    display: none;
}

.user_id-div {
    display: none;
}



/* ----------- ((( RANGE INPUT STYLING ))) ------------- */

input[type=range] {
    -webkit-appearance: none;

    width: 100%;

    background: transparent;

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}





/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #fb5706;
    height: calc(6.45vw + 0.12rem);
    width: calc(6.45vw + 0.12rem);
    border-radius: 20px;
    background: #fb5706;
    background-image: url(/images/Categories/Romantic\(Mobile\).png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-top: calc(-2.15vw - 0.12rem);
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #fb5706;
    height: calc(6.45vw + 0.12rem);
    width: calc(6.45vw + 0.12rem);
    border-radius: 20px;
    background: #fb5706;
    background-image: url(/images/Categories/Romantic\(Mobile\).png);
    background-size: cover;
    background-position: center;

    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #fb5706;
    height: calc(6.45vw + 0.12rem);
    width: calc(6.45vw + 0.12rem);
    border-radius: 20px;
    background: #fb5706;
    background-image: url(/images/Categories/Romantic\(Mobile\).png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}









input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: calc(2.15vw + 0.12rem);
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #191919;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #191919;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: calc(2.15vw + 0.12rem);
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #191919;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: calc(2.15vw + 0.12rem);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #191919;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #191919;
}

input[type=range]::-ms-fill-upper {
    background: #191919;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #191919;
}


@media (min-width:768px) {

    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
        height: calc(2.35vw + 0.12rem);
        width: calc(2.35vw + 0.12rem);
        margin-top: calc(-1vw - 0.02rem);
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: calc(2.35vw + 0.12rem);
        width: calc(2.35vw + 0.12rem);
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: calc(2.35vw + 0.12rem);
        width: calc(2.35vw + 0.12rem);
    }


    input[type=range]::-webkit-slider-runnable-track {
        height: calc(1vw + 0.02rem);
    }

    input[type=range]::-moz-range-track {
        height: calc(1vw + 0.02rem);
    }

    input[type=range]::-ms-track {

        height: calc(1vw + 0.02rem);

    }
}

@media (min-width:1024px) {

    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
        height: calc(1.76vw + 0.12rem);
        width: calc(1.76vw + 0.12rem);
        margin-top: calc(-0.75vw - 0.02rem);
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        height: calc(1.76vw + 0.12rem);
        width: calc(1.76vw + 0.12rem);
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
        height: calc(1.76vw + 0.12rem);
        width: calc(1.76vw + 0.12rem);
    }


    input[type=range]::-webkit-slider-runnable-track {
        height: calc(0.75vw + 0.02rem);
    }

    input[type=range]::-moz-range-track {
        height: calc(0.75vw + 0.02rem);
    }

    input[type=range]::-ms-track {

        height: calc(0.75vw + 0.02rem);

    }
}








/*  ---------- ((( TATTOOER PAGE ))) ---------- */



.fourthhp {
    background-color: #191919;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(15.72vw + 0.12rem);
}

.tattooer-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: calc(1vw + 0.5rem) 0;

}

.profile-socials {
    display: flex;
    flex-direction: column;
    gap: calc(1vw + 0.5rem);
    order: 2;
    margin: calc(3vw + 1rem) 0;
}


.tattooer-img-div {
    width: 100%;
    min-height: calc(60vw + 1rem);

    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;

}

.tattooer-img {
    width: 70%;
    border-radius: 50%;
    border: 2px solid #fb5607;
    position: absolute;
    z-index: 1;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.8);
}

.tattooer-infos-div {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}


.tattooer-name {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 0.45rem);
    text-align: center;
    padding: calc(1vw + 0.5rem) 0;
    background-color: black;
    border-radius: 10px;
    width: 63%;
    height: calc(8vw + 1rem);
    border: 1px solid white;
    background-color: rgba(1, 1, 1, 0.7);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}



.tattooer-location {
    color: #fb5607;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 0.2rem);
    text-align: center;
    padding: calc(1vw + 0.5rem) 0;
    background-color: black;
    border-radius: 10px;
    width: 55%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    height: calc(7vw + 1rem);
    border: 1px solid white;
    background-color: rgba(1, 1, 1, 0.7);
}


.tattooer-studio {
    color: #fb5607;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 0.2rem);
    text-align: center;
    padding: calc(1vw + 0.5rem) calc(1vw + 0.25rem);
    background-color: black;
    border-radius: 10px;
    width: 55%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    height: calc(7vw + 1rem);
    border: 1px solid white;
    background-color: rgba(1, 1, 1, 0.7);
}

.tattooer-exp {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: calc(2vw + 0.2rem);
    width: 55%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    height: calc(7vw + 1rem);
    font-family: 'Press Start 2P', cursive;
    border: 1px solid white;
    border-radius: 10px;
    padding: calc(1vw + 0.5rem) 5px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.7);
}

.tattooer-exp i {
    color: #ffb600;
    font-size: calc(2.86vw + 0.12rem);
}

.tattoo-socials {
    border: 3px solid #fb5607;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: calc(2vw + 1.25rem);

    padding: calc(2vw + 0.25rem);
    border-radius: 30px;
    margin-bottom: 0px;
    background-color: #191919;
}



.off-social {
    color: white;
    opacity: 0.3;

}

.on-social {
    color: white;
}



.tattoo-socials a i:hover {
    color: #fb5607;
    transform: translateY(-2px);
}



.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    order: 1;
    gap: calc(1vw + 0.5rem);
}

.bilboard-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tattoer-title {
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(1vw + 1rem);
    padding: calc(1vw + 0.5rem) 0;
    line-height: calc(1vw + 1rem);
}

.white-line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.tattooer-intro {
    color: white;
    text-align: center;
    padding: calc(1vw + 0.5rem) 0;
    padding-bottom: 0;
    font-size: calc(1vw + 1rem);
}

.tattooer-list {
    width: 100%;
    text-align: center;
    color: white;
}



.tattooer-list-title {
    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 0.5rem);
    border-bottom: 1px solid white;
    padding: calc(2vw + 0.25rem) 0;
    line-height: calc(1vw + 1rem);
}

.tattooer-list-intro {
    color: white;
    padding: calc(2vw + 0.25rem) 0;
    padding-bottom: 0;
    font-size: calc(1vw + 1rem);
}

.list-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list-btn {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(1vw + 0.5rem);
    background-color: #fb5607;
    border-radius: 5px;
    border-top: 2px solid #ab3c08;
    border-bottom: 5px solid #ab3c08;
    border-left: 4px solid #ab3c08;
    border-right: 4px solid #ab3c08;
    text-align: center;
    padding: calc(1vw + 0.5rem);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.list-btn:hover {
    transform: scale(0.98);
}

.list-btn:active {
    transform: scale(0.95);
}



.tattooer-description {
    color: white;
    background-color: #fb5607;
    text-align: center;
    padding: calc(1vw + 0.5rem);
    font-size: calc(1vw + 1rem);
    border-radius: 10px;
    border-bottom: 5px solid #ab3c08;
    border-right: 4px solid #ab3c08;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}








.fav-bio-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    order: 3;
    gap: calc(1vw + 0.5rem);

}

.favs-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: calc(1vw + 0.5rem) 0;
    gap: calc(1vw + 0.5rem);
    order: 2;
    width: 100%;
    height: 45%;

}

.favorite-manga {
    width: 100%;
    display: flex;
}

.favorite-manga img {
    position: absolute;
    width: 100%;
    z-index: 1;
}



.favorite-anime {
    width: 100%;
    display: flex;
}



.useless {
    background-color: white;
    border: 2px solid #fb5607;
    border-radius: 50%;
    width: 30%;
    height: calc(22vw + 1rem);
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.favorite-anime img {
    position: absolute;
    width: 100%;
    z-index: 1;
}


.fav-text-block {
    width: 70%;

}

.fav-text-block h5 {
    color: white;
    background-color: black;
    padding: calc(1vw + 0.5rem) calc(1vw + 0.12rem);
    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 0.2rem);
    text-align: center;
    border-radius: 5px;
}

.fav-text-block h5 i {
    color: #fb5607;
    font-size: calc(2vw + 0.3rem);
}

.fav-text-block h4 {
    color: #fb5607;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 0.35rem);
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: calc(2vw + 0.12rem) calc(2vw + 0.05rem);
}


.social-descrip-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    order: 1;
    height: 45%;
}




.tattooer-interview {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: calc(2vw + 0.25rem) 0;
}

.col-ninety-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.interview-div {
    width: 90%;

}

.interview-title {
    font-family: 'Press Start 2P', cursive;
    color: #fb5607;
    font-size: calc(2vw + 0.85rem);
    padding-bottom: 10px;
    line-height: calc(2vw + 1rem)
}

.interview-subtitle {
    color: #353535;
    padding-bottom: calc(2vw + 0.25rem);
    font-size: calc(2vw + 0.75rem);
}

.actual-interview {
    display: flex;
    flex-direction: column;
    gap: calc(2vw + 0.25rem);

}

.q-a {
    display: flex;
    flex-direction: column;
    gap: calc(2.86vw + 0.25rem);
}

.q-a h4 {
    color: white;
    font-size: calc(2vw + 0.75rem);
    background-color: #fb5607;
    border-bottom: 4px solid #ab3c08;
    border-right: 3px solid #ab3c08;
    border-radius: 5px;
    padding: calc(2vw + 0.12rem);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.q-a p {
    font-weight: 500;
    font-size: calc(2vw + 0.75rem);
}

.container-gallery-div {
    width: 100%;
}

.gallery-div {
    background-color: #191919;
    padding: calc(2vw + 0.75rem) 0;
    margin-top: calc(2vw + 0.25rem);

}

.gallery-title {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: calc(2vw + 0.85rem);
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: calc(2vw + 0.25rem);
}

.tattooer-id-span {
    display: none;
}

.gallery-intro {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: calc(2vw + 0.5rem);
    text-align: center;
    padding: calc(2vw + 0.25rem) calc(2vw + 0.12rem);
    padding-bottom: 0;

    line-height: calc(2vw + 0.75rem);
}

.admin-stuff {
    display: flex;
    justify-content: space-evenly;
}

.admin-stuff i {
    font-size: calc(6.45vw + 0.12rem);
    color: #fb5607;
    background-color: #191919;
    border: none;
}

.admin-stuff {
    display: flex;
    justify-content: space-between;
}

.admin-stuff i {
    font-size: calc(4.65vw + 0.12rem);
    color: #fb5607;
    background-color: #191919;
    border: none;
}

.admin-stuff button {
    background-color: #191919;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(4.65vw + 0.12rem);
}

.admin-stuff a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(4.65vw + 0.12rem);
}


.delete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.images-blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solidwhite;
    gap: calc(2vw + 0.85rem);
    margin: calc(2vw + 0.85rem) 0;
}

.img-block-container {
    width: 100%;
}



.img-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 0;
}

.tattoo-id {
    display: none;
}

.img-block img {
    width: 100%;
    z-index: 1;

}

.img-block h5 {
    color: white;
    text-align: center;
    padding: calc(2vw + 0.25rem) calc(2vw + 0.12rem);
    font-size: calc(2vw + 1rem);
    display: none;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    position: absolute;
    z-index: 2;
    bottom: calc(5vw + 2.5rem);
}


.img-block:hover h5 {
    display: block;
}

.score-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;

    background-color: black;

}



.heart-nr-div h4 {

    font-family: 'Press Start 2P', cursive;
    font-size: calc(2vw + 1rem);
}

.heart-nr-div i {
    font-size: calc(2vw + 1.25rem);
    /* color: white; */
}

.heart-nr-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid white; */
    width: 40%;
    gap: calc(6.45vw + 0.12rem)
}

.og-heart {
    color: #fb5706;
}

.white-heart {
    color: white;
}

.vote-btn {
    color: white;
    background-color: #fb5607;
    width: 30%;
    font-family: 'Press Start 2P', cursive;
    padding: calc(2vw + 0.12rem) calc(2vw + 0.25rem);
    border-radius: 5px;
    font-size: calc(2vw + 0.4rem);
    border-bottom: 3px solid #ab3c08;
    border-right: 3px solid #ab3c08;
    border-left: 3px solid #ab3c08;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.loader {
    border: 5px solid #191919;
    /* Light grey */
    border-top: 5px solid #fb5706;
    /* Blue */
    border-radius: 50%;
    width: calc(10vw + 0.12rem);
    height: calc(10vw + 0.12rem);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* --------------- (((( COMMENT SECTION )))) ------------------- */

.comments-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: calc(2.86vw + 0.12rem) 0;
}

.ninety-comments-div {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: calc(2.86vw + 0.12rem);
}

.comments-title-div {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.comments-title {
    font-family: 'Press Start 2P', cursive;
    color: #fb5706;
    font-size: calc(6.45vw + 0.12rem);
}

.comments-count {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #fb5706;
    padding: calc(1.1vw + 0.12rem) calc(2.86vw + 0.12rem);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2.86vw + 0.12rem);
}

.comments-form {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#comment-textarea {
    border: 2px solid #fb5706;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: calc(1.1vw + 0.12rem);
    outline: none;
    width: 100%;
    overflow: scroll;
    font-size: calc(4.72vw + 0.12rem);
}


#comment-textarea:invalid:required {
    border: 1px solid #fb5706;
    border-bottom: none;
}

#comment-textarea:invalid:required~.submit-btn-box {
    border: 1px solid #fb5706;
    border-top: none;
}



#comment-textarea:valid {
    border: 1px solid #2b9348;
    border-bottom: none;
}

#comment-textarea:valid~.submit-btn-box {
    border: 1px solid #2b9348;
    border-top: none;
}





.submit-btn-box {
    border: 2px solid #fb5706;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: calc(1.1vw + 0.12rem);
}

.range-input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

#range-input {
    width: 90%;
}

.output-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.output-div #rangevalue {
    font-size: calc(4.72vw + 0.12rem);
    color: #191919;
    font-family: 'Roboto Slab', serif;

}

.output-div i {
    color: #ffb600;
    font-size: calc(4.72vw + 0.12rem);
}

.submit-comment-btn {
    background-color: #fb5706;
    color: white;
    padding: calc(1.1vw + 0.12rem) calc(2.86vw + 0.12rem);
    font-weight: bold;
    font-size: calc(4.72vw + 0.12rem);
    font-family: 'Roboto Slab', serif;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.comment-links {
    font-size: calc(4.72vw + 0.12rem);
}

.comment-link {
    color: #fb5706;
    cursor: pointer;
}



.comments-container {
    display: flex;
    flex-direction: column;
    gap: calc(1.1vw + 0.12rem);

}

.comment-block {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    padding: calc(2.86vw + 0.12rem);
    gap: calc(2.86vw + 0.12rem);
    border-radius: 10px;
}

.user-time-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.comment-user {
    color: #fb5706;
    font-size: calc(4.72vw + 0.12rem);
}

.time-stamp {
    color: lightgrey;
    font-weight: 100;
    font-size: calc(3.58vw + 0.12rem);
}

.time-stamp i {
    color: #ffb600;
}

.actual-comment {
    color: lightgrey;
    font-size: calc(4.72vw + 0.12rem);
}

.delete-div {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.comment-delete-btn {
    color: #fb5706;
    background-color: #191919;
    border: none;
    outline: none;
    cursor: pointer;
}

.comment-delete-btn:hover {
    color: red;

}




@media (min-width:768px) {
    .fourthhp {
        margin-top: calc(4.95vw + 0.12rem);

    }

    .tattooer-div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: calc(1vw + 0.1rem) 0;

        width: 90%;

    }



    .profile-socials {
        width: 32%;
        margin: 0px;
        display: flex;
        justify-content: center;

        gap: calc(0.5vw + 0.5rem);
        /*  height: calc(30vw + 1rem); */
    }

    .tattooer-img-div {
        min-height: calc(20vw + 0.5rem);
        margin: 0;
    }


    .tattooer-img {
        width: 70%;
    }

    .tattooer-name {
        font-size: calc(0.5vw + 0.35rem);
        height: calc(2vw + 1rem);
        width: 58%;
    }

    .tattooer-studio {
        font-size: calc(0.5vw + 0.25rem);
        height: calc(2vw + 1rem);
        width: 50%;
    }

    .tattooer-location {
        font-size: calc(0.5vw + 0.25rem);
        height: calc(2vw + 1rem);
        width: 50%;
    }



    .tattooer-exp {
        font-size: calc(0.5vw + 0.25rem);
        height: calc(2vw + 1rem);

    }

    .tattooer-exp i {

        font-size: calc(1vw + 0.02rem);
    }

    .tattoo-socials {
        font-size: calc(1vw + 0.5rem);
        padding: calc(1vw + 0.08rem);
        justify-self: end;
    }

    .left-part {
        order: 1;

        margin: 0px;
        width: 32%;

        gap: calc(0.5vw + 0.25rem);
    }

    .tattoer-title {
        font-size: calc(1vw + 0.2rem);
        padding: 0;

    }

    .tattooer-intro {
        font-size: calc(1.2vw + 0.1rem);
        padding-top: 5px;
    }

    .tattooer-list-title {
        font-size: calc(1vw + 0.2rem);
        padding: 0;
    }

    .tattooer-list-intro {
        font-size: calc(1.2vw + 0.1rem);
        padding-top: 5px;
    }

    .list-btn {
        font-size: calc(1vw + 0.5rem);
        padding: calc(1vw + 0.20rem);
    }

    .profile-socials {
        order: 2;
    }

    .fav-bio-div {
        order: 3;

        margin: 0px;
        justify-content: space-between;
        width: 32%;
        gap: calc(1vw + 0.12rem);
        min-height: calc(20vw + 1rem);
    }

    .favs-div {
        flex-direction: column;
        order: 1;
        width: 100%;
        height: 60%;
        margin: 0;
        gap: calc(1vw + 0.5rem);
    }


    .favorite-anime {
        width: 100%;
    }

    .favorite-manga {
        width: 100%;
    }

    .useless {
        width: 30%;
        background-color: white;
        border: 2px solid #fb5607;
        border-radius: 50%;
        height: calc(6.5vw + 1rem);
    }





    .fav-text-block {
        width: 60%;

    }

    .fav-text-block h5 {
        color: white;
        background-color: black;
        padding: 5px 2px;
        font-family: 'Press Start 2P', cursive;
        font-size: calc(0.5vw + 0.25rem);
        text-align: center;
        border-radius: 5px;
    }

    .fav-text-block h5 i {
        font-size: calc(0.5vw + 0.35rem);
    }

    .fav-text-block h4 {
        color: #fb5607;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 8px;
        font-size: calc(0.5vw + 0.25rem);
        background-color: white;
        border-radius: 0 0 10px 10px;
        padding: calc(0.5vw + 0.05rem) calc(0.5vw + 0.025rem);
    }

    .social-descrip-div {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tattooer-description {
        font-size: calc(0.75vw + 0.3rem);
        padding: calc((0.5vw + 0.25rem));
        order: 2;

    }



    .list-btn {
        font-size: 8px;
    }



    .col-ninety-div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 90%;
    }

    .interview-div {

        width: 50%;
    }

    .interview-title {
        font-size: calc(1.7vw + 0.12rem);
        line-height: calc(2vw + 1rem);
    }

    .interview-subtitle {
        font-size: calc(1.7vw + 0.12rem);
        padding-bottom: 20px;
    }

    .actual-interview {
        gap: 30px;
    }

    .q-a {
        gap: calc(1.05vw + 0.12rem);
    }

    .q-a h4 {
        background: #fb5607;
        font-size: calc(1.05vw + 0.12rem);
        padding: calc(1vw + 0.12rem);
    }

    .q-a p {
        font-size: calc(1.05vw + 0.12rem);
    }

    .container-gallery-div {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }

    .gallery-div {
        width: 90%;
        /* border: 3px solid #fb5607; */
        border-radius: 10px;
        margin-top: 0;
        padding: calc(0.5vw + 0.5rem) calc(0.5vw + 0.25rem);
        background-color: #191919;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

    .gallery-title {
        color: white;
        font-size: calc(1.05vw + 0.12rem);
        padding-bottom: calc(1.05vw + 0.12rem);

    }

    .gallery-intro {
        color: white;
        font-size: calc(1.05vw + 0.06rem);
        line-height: calc(1vw + 0.4rem);
        padding: calc(1vw + 0.25rem) 0;
    }

    .admin-stuff {
        display: flex;
        justify-content: space-between;
    }

    .admin-stuff i {
        font-size: calc(2.35vw + 0.12rem);
        color: #fb5607;
        background-color: #191919;
        border: none;
    }

    .admin-stuff button {
        background-color: #191919;
        border: none;
        outline: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1.7vw + 0.12rem);
    }

    .admin-stuff a {
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1.7vw + 0.12rem);
    }


    .delete-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .images-blocks {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        margin: calc(1.31vw + 0.12rem) 0;
    }

    .img-block-container {
        width: 45%;
    }

    .img-block {
        width: 100%;
        border-radius: 10px;
        border: 3px solid black;
    }

    .img-block img {
        border-radius: 5px 5px 0 0;
    }

    .img-block:hover h5 {
        display: block;
    }

    .img-block h5 {
        padding: calc(0.5vw + 0.25rem) 0;
        font-size: calc(1.05vw + 0.06rem);
        display: none;
        bottom: calc(1vw + 2.5rem);
    }

    .vote-btn {

        width: 45%;
        padding: calc(0.5vw + 0.075rem) calc(0.5vw + 0.125rem);

        font-size: calc(1vw + 0.06rem);
    }

    .score-btn {
        border-radius: 0 0 5px 5px;
        padding: calc(0.5vw + 0.075rem) 0;
    }

    .heart-nr-div h4 {

        font-family: 'Press Start 2P', cursive;
        font-size: calc(1vw + 0.07rem);
        width: 40%;
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: calc(1.05vw + 0.12rem);
    }

    .heart-nr-div i {
        font-size: calc(1vw + 0.25rem);

    }

    .heart-nr-div {
        gap: calc(0.5vw + 0.075rem);

    }

    .loader {
        border: 5px solid #191919;
        /* Light grey */
        border-top: 5px solid #fb5706;
        /* Blue */
        border-radius: 50%;
        width: calc(3vw + 0.12rem);
        height: calc(3vw + 0.12rem);
        animation: spin 2s linear infinite;
    }






    .comments-section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: calc(2.35vw + 0.12rem) 0;
    }

    .ninety-comments-div {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: calc(1.05vw + 0.12rem);
    }

    .comments-title-div {
        display: flex;
        width: 70%;

        justify-content: space-between;
        align-items: center;
    }

    .comments-title {
        font-family: 'Press Start 2P', cursive;
        color: #fb5706;
        font-size: calc(2.35vw + 0.12rem);
    }

    .comments-count {
        font-family: 'Press Start 2P', cursive;
        color: white;
        background-color: #fb5706;
        padding: calc(0.5vw + 0.075rem) calc(1.05vw + 0.12rem);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1.05vw + 0.12rem);
    }

    .comments-form {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #comment-textarea {
        border: 1px solid #fb5706;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        padding: calc(1.1vw + 0.12rem);
        outline: none;
        width: 70%;
        overflow: scroll;
        font-size: calc(1.83vw + 0.12rem);
    }

    .range-input-div {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    #range-input {
        width: 90%;
    }

    .output-div {
        display: flex;
        align-items: center;
        justify-content: center;
        /*  border: 1px solid black; */
        height: 100%;
        width: 20%;
    }

    .output-div #rangevalue {
        font-size: calc(1.83vw + 0.12rem);
    }

    .output-div i {
        font-size: calc(1.83vw + 0.12rem);
    }

    .submit-btn-box {
        border: 1px solid #fb5706;
        border-top: none;
        border-radius: 0 0 5px 5px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: calc(0.5vw + 0.075rem);
    }

    .submit-comment-btn {
        background-color: #fb5706;
        color: white;
        padding: calc(0.5vw + 0.075rem) calc(1.05vw + 0.12rem);
        font-weight: bold;
        font-size: calc(1.83vw + 0.12rem);
        font-family: 'Roboto Slab', serif;
        outline: none;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .comment-links {
        font-size: calc(1.83vw + 0.12rem);
        margin: calc(1.05vw + 0.12rem), 0;
    }



    .comments-container {
        display: flex;
        flex-direction: column;
        gap: calc(0.5vw + 0.075rem);

    }

    .comment-block {
        display: flex;
        flex-direction: column;
        background-color: #191919;
        padding: calc(1.05vw + 0.12rem);
        gap: calc(1.05vw + 0.12rem);
        border-radius: 10px;
        width: 70%;
    }

    .user-time-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .comment-user {
        color: #fb5706;
        font-size: calc(1.83vw + 0.12rem);
    }

    .time-stamp {
        color: lightgrey;
        font-weight: 100;
        font-size: calc(1.31vw + 0.12rem);
    }

    .time-stamp i {
        color: #ffb600;
    }

    .actual-comment {
        color: lightgrey;
        font-size: calc(1.83vw + 0.12rem);
    }
}



@media (min-width:1024px) {
    .comments-section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: calc(1.76vw + 0.12rem) 0;
    }

    .ninety-comments-div {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: calc(0.9vw + 0.05rem);
    }

    .comments-title-div {
        display: flex;
        width: 70%;

        justify-content: space-between;
        align-items: center;
    }

    .comments-title {
        font-family: 'Press Start 2P', cursive;
        color: #fb5706;
        font-size: calc(1.76vw + 0.12rem);
    }

    .comments-count {
        font-family: 'Press Start 2P', cursive;
        color: white;
        background-color: #fb5706;
        padding: calc(0.46vw + 0.02rem) calc(0.9vw + 0.05rem);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(0.9vw + 0.05rem);
    }

    .comments-form {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #comment-textarea {
        border: 1px solid #fb5706;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        padding: calc(0.46vw + 0.05rem);
        outline: none;
        width: 70%;
        overflow: scroll;
        font-size: calc(1.37vw + 0.12rem);
    }

    .submit-btn-box {
        border: 1px solid #fb5706;
        border-top: none;
        border-radius: 0 0 5px 5px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: calc(0.46vw + 0.02rem);
    }

    .submit-comment-btn {
        background-color: #fb5706;
        color: white;
        padding: calc(0.46vw + 0.02rem) calc(0.9vw + 0.05rem);
        font-weight: bold;
        font-size: calc(1.37vw + 0.12rem);
        font-family: 'Roboto Slab', serif;
        outline: none;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .comment-links {
        font-size: calc(1.37vw + 0.12rem);
        margin: calc(0.9vw + 0.05rem), 0;
    }

    .comments-container {
        display: flex;
        flex-direction: column;
        gap: calc(0.46vw + 0.02rem);

    }

    .comment-block {
        display: flex;
        flex-direction: column;
        background-color: #191919;
        padding: calc(0.9vw + 0.05rem);
        gap: calc(0.9vw + 0.05rem);
        border-radius: 10px;
        width: 70%;
    }

    .user-time-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .comment-user {
        color: #fb5706;
        font-size: calc(1.37vw + 0.12rem);
    }

    .time-stamp {
        color: lightgrey;
        font-weight: 100;
        font-size: calc(1vw + 0.113rem);
    }

    .actual-comment {
        color: lightgrey;
        font-size: calc(1.37vw + 0.12rem);
    }
}


@media (min-width:1280px) {

    .list-btn {
        font-size: calc(0.5vw + 0.12rem);

    }

    .interview-div {
        width: 60%;

    }

    .interview-title {
        font-size: calc(1vw + 0.60rem);
    }

    .interview-subtitle {
        font-size: calc(1vw + 0.5rem);
    }

    .q-a h4 {
        font-size: calc(1vw + 0.35rem);
    }

    .q-a p {
        font-size: calc(1vw + 0.3rem);
    }

    .container-gallery-div {
        width: 40%;
    }

    .gallery-title {
        font-size: calc(1vw + 0.35rem);
        padding-bottom: calc(1vw + 0.15rem);
    }

    .gallery-intro {
        font-size: calc(0.9vw + 0.1rem);
    }

    .img-block h5 {
        font-size: calc(0.75vw + 0.075rem)
    }

    .heart-nr-div h4 {
        gap: calc(0.63vw + 0.12rem);
        font-size: calc(0.75vw + 0.15rem);
        width: 45%;
    }

    .heart-nr-div i {
        font-size: calc(0.75vw + 0.5rem);
    }

    .heart-nr-div {
        gap: calc(0.24vw + 0.12rem)
    }

    .vote-btn {
        padding: calc(0.25vw + 0.12rem) calc(0.25vw + 0.1rem);
        width: 35%;
        font-size: calc(0.25vw + 0.4rem);
    }

}