<footer>
    <div class="social-div">
        <div class="icons-div">
            <h3>Follow us on our Social Media</h3>
            <div class="social-icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitch"></i>
            </div>
        </div>
        <div class="mail-div">
            <h3 class="mail-h3">Join our Mailing List</h3>
            <!--  <p class="mail-parag">Get the best of DPRSSD Otaku delivered right to your inbox!</p> -->
            <div class="input-btn-div">
                <input class="mail-input" type="text" placeholder="Your Email Address">
                <button type="submit" class="mail-btn"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="footer-tags">
        <a class="footer-tag" href="/">Home</a>
        <a class="footer-tag" href="/categories">Categories</a>
        <a class="footer-tag" href="/tattooersList">Tattooes</a>
        <a class="footer-tag" href="#withus">Cookies</a>

        <%if(!currentUser){%>
            <a class="footer-tag" href="/login">Log in</a>
            <a class="footer-tag" href="/register">Sign up</a>
            <%} else {%>
                <a class="footer-tag" href="/logout">Log out</a>
                <%}%>

    </div>
    <div class="credits-div">
        <span class="debastuzzi-span">DPRSSDOtaku.com is a property of DeBastuzzi Co.,Ltd. ©2022 All Rights
            Reserved.</span>
        <p class="debastuzzi-parag">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of
            Service apply.</p>
    </div>
</footer>