<link rel="stylesheet" href="/css/flashes.css">


<% if(success && success.length){%>
    <div class="user-success-alert">
        <h3 class="user-success-msg">
            <%= success %>
        </h3>
        <span class="user-success-closing-x">&times;</span>
    </div>
    <%}%>

        <% if(error && error.length){%>
            <div class="user-error-alert">
                <h3 class="user-error-msg">
                    <%= error %>
                </h3>
                <span class="user-error-closing-x">&times;</span>
            </div>
            <%}%>







                <script src="/js/flashes.js"></script>