<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/error.css">
    <title>DPRSSD OTAKU - ERROR</title>


    <section class="container">
        <div class="card">
            <div class="error-design-div">
                <img class="error-design" src="/images/ErrorPage/ErrorDesign.png" alt="">
            </div>
            <div class="error-text-block">
                <h1 class="error-title">
                    Error <%=err.statusCode%>
                </h1>
                <h2 class="error-subtitle">
                    <%=err.message%>
                </h2>
            </div>
        </div>
    </section>