<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/LoginPageResponsive.css">
    <title>DPRSSD OTAKU - Login</title>

    <section class="login-section">
        <div class="ninety-div">
            <img class="login-xl-img" src="/images/LoginSignUp/onepunchman.jpg" alt="">

            <div class="fifty-card">
                <img class="xs-img" src="/images/LoginSignUp/croppedgojo.jpg" alt="">


                <div class="login-div">
                    <h4 class="login-h2">Hey There! You need to be Logged in to continue! </h2>
                        <%- include("./partials/userFlashes") %>
                            <p class="grey-parag">Enter your account's credentials below to continue.</p>
                </div>
                <form action="/login" method="POST" class="input-div">

                    <div class="email-div">
                        <label for="username">Username</label>
                        <input class="text-inputs" type="text" name="username" id="username" placeholder="" required>
                    </div>
                    <div class="password-div">
                        <label for="password">Password</label>
                        <input class="text-inputs" type="password" name="password" id="password" placeholder=""
                            required>
                    </div>
                    <!-- <div class="checkbox-div">
                        <div class="check-div">
                            <input type="checkbox" name="checkbox" id="checkbox">
                            <label for="checkbox">Remember me</label>
                        </div>
                        <a class="forgot-a" href="/">Forgot Password?</a>
                    </div> -->
                    <button type="submit" class="login-btn">Login</button>
                    <div class="signup-div">
                        <span class="regist-span">Not Registred yet?</span>
                        <a class="signin-a" href="/register">Sing Up</a>
                    </div>
                </form>


            </div>

        </div>

    </section>