<% layout("layouts/boilerplate") %>


    <link rel="stylesheet" href="/css/newManga.css">
    <title>DPRSSD OTAKU - Create new Manga Review</title>

    <section class="new-manga-section">
        <form class="new-manga-form" action="/api/mangas" method="POST" enctype="multipart/form-data">
            <div class="title-div">
                <label for="title">Title</label>
                <input id="title" type="text" class="text-input" name="manga[title]" required>
            </div>
            <div class="scores-block">
                <label for="totalScore">Total score</label>
                <input id="totalScore" type="number" class="number-input" name="manga[scores.totalScore]" step="0.1"
                    required>
                <label for="artScore">Art score</label>
                <input id="artScore" type="number" class="number-input" name="manga[scores.artScore]" step="0.1"
                    required>
                <label for="characterScore">Character score</label>
                <input id="characterScore" type="number" class="number-input" name="manga[scores.characterScore]"
                    required step="0.1">
                <label for="storyScore">Story score</label>
                <input id="storyScore" type="number" class="number-input" name="manga[scores.storyScore]" step="0.1"
                    required>
            </div>
            <div class="categ-div">
                <label for="cat1">Category 1</label>
                <input id="cat1" type="text" class="text-input" required name="manga[category.categ1]">
                <label for="cat2">Category 2</label>
                <input id="cat2" type="text" class="text-input" required name="manga[category.categ2]">
                <label for="cat3">Category 3</label>
                <input id="cat3" type="text" class="text-input" required name="manga[category.categ3]">


                <label for="tag1">Category Tag 1</label>
                <input id="tag1" type="text" class="text-input" required name="manga[categoryTags.categTag1]">
                <label for="tag2">Category Tag 2</label>
                <input id="tag2" type="text" class="text-input" required name="manga[categoryTags.categTag2]">
                <label for="tag3">Category Tag 3</label>
                <input id="tag3" type="text" class="text-input" required name="manga[categoryTags.categTag3]">
            </div>

            <div class="infos-div">
                <label for="author">Author</label>
                <input id="author" type="text" required name="manga[infos.author]">
                <label for="status">Status</label>
                <input id="status" type="text" required name="manga[infos.status]">
                <label for="release">Release</label>
                <input id="release" type="text" required name="manga[infos.release]">
                <label for="shortvol">Manga Volumes (short)</label>
                <input id="shortvol" type="text" required name="manga[infos.mangavols]">
                <label for="longvol">Manga Volumes (long)</label>
                <input id="longvol" type="text" required name="manga[infos.longmangavols]">
                <label for="anime">Anime Eps.</label>
                <input id="anime" type="text" required name="manga[infos.animeEps]">
                <label for="ep">Episode duration</label>
                <input id="ep" type="text" required name="manga[infos.epDuration]">
                <label for="studio">Anime Studio</label>
                <input id="studio" type="text" required name="manga[infos.animeStudio]">
            </div>
            <div class="summary-div">
                <label for="summary">Plot</label>
                <textarea name="manga[summary]" id="summary" cols="30" rows="10" required></textarea>
            </div>
            <div class="mangavols-div">
                <label for="smallvol">Small Manga Vol 1</label>
                <input id="smallvol" type="file" required name="manga[mangaVolumes.smallVol]">
            </div>
            <div class="panels-div">
                <label for="panelcell">Mobile Panel</label>
                <input id="panelcell" type="file" required name="manga[panels.panelMobile]">
                <label for="paneltabl">Tablet Panel</label>
                <input id="paneltabl" type="file" required name="manga[panels.panelTablet]">
                <label for="paneldesk">Desktop Panel</label>
                <input id="paneldesk" type="file" required name="manga[panels.panelDesktop]">
            </div>
            <div class="review-div">
                <label for="reviewtitle">Review Title </label>
                <input id="reviewtitle" type="text" required name="manga[review.reviewTitle]">
                <label for="subt1">Subtitle 1</label>
                <input id="subt1" type="text" required name="manga[review.reviewSubtitle1]">
                <label for="p1">Parag 1</label>
                <input id="p1" type="text" required name="manga[review.reviewParag1]">
                <label for="img1">Img 1</label>
                <input id="img1" type="file" required name="manga[review.reviewImg1]">
                <label for="subt2">Subtitle 2</label>
                <input id="subt2" type="text" required name="manga[review.reviewSubtitle2]">
                <label for="p2">Parag 2</label>
                <input id="p2" type="text" required name="manga[review.reviewParag2]">
                <label for="img2">Img 2</label>
                <input id="img2" type="file" required name="manga[review.reviewImg2]">
                <label for="subt3">Subtitle 3</label>
                <input id="subt3" type="text" required name="manga[review.reviewSubtitle3]">
                <label for="p3">Parag 3</label>
                <input id="p3" type="text" required name="manga[review.reviewParag3]">
                <label for="img3">Img 3</label>
                <input id="img3" type="file" required name="manga[review.reviewImg3]">
            </div>
            <div class="conclusion-div">
                <label for="conclusion">Conclusion</label>
                <textarea id="conclusion" cols="30" rows="10" required name="manga[conclusion]"></textarea>
            </div>
            <div class="pros-div">
                <label for="pro1">Pros 1</label>
                <input id="pro1" type="text" name="manga[pros.pro1]">
                <label for="pro2">Pros 2</label>
                <input id="pro2" type="text" name="manga[pros.pro2]">
                <label for="pro3">Pros 3</label>
                <input id="pro3" type="text" name="manga[pros.pro3]">
            </div>
            <div class="cons-div">
                <label for="con1">Cons 1</label>
                <input id="con1" type="text" name="manga[cons.con1]">
                <label for="con2">Cons 2</label>
                <input id="con2" type="text" name="manga[cons.con2]">
                <label for="con3">Cons 3</label>
                <input id="con3" type="text" name="manga[cons.con3]">
            </div>
            <!-- <div class="css-div">
                <label for="css">CSS file</label>
                <input type="text" name="manga[css]" id="css">
            </div> -->
            <button>Create Manga</button>
        </form>
    </section>