<% layout("layouts/boilerplate") %>


    <link rel="stylesheet" href="/css/newPanel.css">
    <title>DPRSSD OTAKU - Create new Panel</title>

    <section class="new-panel-section">
        <form class="new-panel-form" action="/api/panels" method="POST" enctype="multipart/form-data">
            <div class="fromManga-div">
                <label for="panelSrc">Panel Img</label>
                <input id="panelSrc" name="panel[panelSrc]" type="file" required>

                <label for="title">Manga Title</label>
                <input id="title" type="text" required name="panel[fromManga.mangaTitle]">

                <label for="score">Manga Score</label>
                <input id="score" type="text" required name="panel[fromManga.mangaScore]">

                <label for="vol">Manga Vol</label>
                <input id="vol" type="file" required name="panel[fromManga.MangaVol]">

                <label for="release">Release</label>
                <input id="release" type="text" required name="panel[fromManga.release]">

                <label for="longvols">Long Manga Vols</label>
                <input id="longvols" type="text" required name="panel[fromManga.LongMangaVols]">

                <label for="status">Status</label>
                <input id="status" type="text" required name="panel[fromManga.status]">

                <label for="cat1">Categ Tag1</label>
                <input type="text" id="cat1" required name="panel[fromManga.categoryTags.categTag1]">

                <label for="cat2">Categ Tag2</label>
                <input type="text" id="cat2" required name="panel[fromManga.categoryTags.categTag2]">

                <label for="cat3">Categ Tag3</label>
                <input type="text" id="cat3" required name="panel[fromManga.categoryTags.categTag3]">

                <label for="mangaId">Manga Id</label>
                <input id="mangaId" type="text" required name="panel[fromManga.mangaId]">
            </div>

            <button>Create Panel</button>
        </form>
    </section>