<% layout("layouts/boilerplate") %>


    <link rel="stylesheet" href="/css/newTattooer.css">
    <title>DPRSSD OTAKU - Create new Tattooer</title>

    <section class="new-tattooer-section">
        <form class="new-tattooer-form" action="/api/tattooers" method="POST" enctype="multipart/form-data">
            <div class="infos-div">
                <label for="name">Name</label>
                <input type="text" id="name" name="tattooer[name]" required>
                <label for="studio">Studio</label>
                <input id="studio" type="text" name="tattooer[studio]" required>
                <label for="location">Location</label>
                <input id="location" type="text" name="tattooer[location]" required>
                <label for="month">Month</label>
                <input id="month" type="text" name="tattooer[month]" required>
            </div>

            <div class="descrip-div">
                <label for="descrip">Description</label>
                <textarea name="tattooer[descrip]" id="descrip" cols="30" rows="10" required></textarea>
            </div>

            <div class="profilImg-div">
                <label for="mobileImg">MobileImg</label>
                <input id="mobileImg" type="file" name="tattooer[profileImg.mobileImg]" required>
            </div>

            <div class="favs-div">
                <label for="mangatitle">favManga Title</label>
                <input id="mangatitle" type="text" name="tattooer[favs.favManga.mangaTitle]" required>
                <label for="mangaimg">favMangaImg</label>
                <input id="mangaimg" type="file" name="tattooer[favs.favManga.mangaImg]" required>
                <label for="animetitle">favAnime Title</label>
                <input id="animetitle" type="text" name="tattooer[favs.favAnime.animeTitle]" required>
                <label for="animeimg">favAnimeImg</label>
                <input id="animeimg" type="file" name="tattooer[favs.favAnime.animeImg]" required>
            </div>

            <div class="interview-div">
                <label for="intTitle">interview Title</label>
                <input id="intTitle" type="text" name="tattooer[interview.interviewTitle]" required>

                <label for="intSub">Interview Subtitle</label>
                <input id="intSub" type="text" name="tattooer[interview.interviewSubtitle]" required>

                <label for=" q1">q1</label>
                <input id="q1" type="text" name="tattooer[interview.question1]" required>

                <label for=" a1">a1</label>
                <input id="a1" type="text" name="tattooer[interview.answer1]" required>

                <label for=" q2">q2</label>
                <input id="q2" type="text" name="tattooer[interview.question2]" required>

                <label for=" a2">a2</label>
                <input id="a2" type="text" name="tattooer[interview.answer2]" required>

                <label for=" q3">q3</label>
                <input id="q3" type="text" name="tattooer[interview.question3]" required>

                <label for=" a3">a3</label>
                <input id="a3" type="text" name="tattooer[interview.answer3]" required>

                <label for=" q4">q4</label>
                <input id="q4" type="text" name="tattooer[interview.question4]" required>

                <label for=" a4">a4</label>
                <input id="a4" type="text" name="tattooer[interview.answer4]" required>

                <label for=" q5">q5</label>
                <input id="q5" type="text" name="tattooer[interview.question5]" required>

                <label for=" a5">a5</label>
                <input id="a5" type="text" name="tattooer[interview.answer5]" required>
            </div>

            <div class="socials-div">
                <label for="tt">TikTok</label>
                <input id="tt" type="text" name="tattooer[socials.tiktok]">

                <label for="insta">Instagram</label>
                <input id="insta" type="text" name="tattooer[socials.insta]">

                <label for=" fb">Facebook</label>
                <input id="fb" type="text" name="tattooer[socials.fb]">
            </div>

            <button>Create Tattooer</button>
        </form>
    </section>