<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/RegisterPageResponsive.css">
    <title>DPRSSD OTAKU - Sign up</title>

    <section class="login-section">
        <div class="ninety-div">

            <img class="login-xl-img" src="/images/LoginSignUp/onepunchman.jpg" alt="">



            <div class="fifty-card">
                <img class="xs-img" src="/images/LoginSignUp/vulcanBase.jpg" alt="">

                <form action="/register" method="POST">
                    <div class="login-div">
                        <h4 class="login-h2">Hey There! Join the DPRSSD Otaku. Community! </h2>
                            <%- include("./partials/userFlashes") %>
                    </div>

                    <div class="input-div">
                        <p class="grey-parag">Fill all the required fields below to Sign up.</p>

                        <div class="xs-input-div">
                            <label for="username">Username*</label>
                            <input class="text-inputs" type="text" name="username" id="username" placeholder=""
                                required>
                        </div>
                        <div class="xs-input-div">
                            <label for="birthdate">Birthdate*</label>
                            <input class="text-inputs" type="date" name="birthdate" id="birthdate" placeholder=""
                                required>
                        </div>
                        <div class="xs-input-div">
                            <label for="email">Email address*</label>
                            <input class="text-inputs" type="email" name="email" id="email" placeholder="" required>
                        </div>
                        <div class="xs-input-div">
                            <label for="password">Password*</label>
                            <input class="text-inputs" type="password" name="password" id="password" placeholder=""
                                required minlength="8">
                        </div>
                        <!--  <div class="xs-input-div">
                            <label for="password">Confirm Password*</label>
                            <input class="text-inputs" type="password" name="password" id="password" placeholder="">
                        </div> -->



                    </div>

                    <button type="submit" class="register-signup-btn">Sign up
                    </button>

                </form>
            </div>

        </div>

    </section>